 /*
    File: style.css
    Name: Demi Banjoko
    Date Created: 09-10-2025
    Date Last Edited: 11-14-2025
    Version: 3.0
    Purpose: MIS 3371 Homework 3 CSS Patient Form 
*/

header 
{
    width: 100%;
    background-color: #003300;
}

body 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF0F5;
    margin: 0;
    height: 100%;
    min-height: 100vh; /* page is height of the viewport */
}

form 
{
    flex-grow: 1;
}

h1, h2 
{
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    flex-grow: 1;
    color: white; 
}

h3 
{
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    color: black; 
}

main 
{
    text-align: center;
    font-family: Helvetica;
    font-weight: normal;
    flex-grow: 1;
}

.image
{
    text-align: left;
}

td1 
{
    text-align: center;
    vertical-align: middle; 
    font-family: "Optima", "Trebuchet MS", Arial, sans-serif;
    font-weight: normal;
}

th 
{
    text-align: center;
    font-family: "Optima", "Trebuchet MS", Arial, sans-serif;
}

footer 
{
    width: 100%;
    background-color: #FFF0F5;
    height: 2.0rem;
    text-align: center;   
}

#footer 
{
    font-family: "optima", sans-serif or any other font;
    font-weight: normal;
    text-align: center;
}

label 
{
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

input 
{
    text-align: left;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

textarea 
{
    text-align: left;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

#today 
{
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
    margin-right: 5px;
    color: white;
}

p 
{
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

a 
{
  color: blue /* normal link */
}

a:visited 
{
  color: blueviolet; /* visited link */
}

a:hover 
{
  color: red; /* hover effect */
}

.error 
{
    color: red;
    font-size: 12px;
    font-family: "Optima", sans-serif;
    font-weight: normal;
}

.pword-message 
{
    text-align: right;
    font-family: "Optima", sans-serif;
    font-weight: normal;
    position: relative;
    left: 100px;
    background: transparent;
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color: darkred;
}

#review 
{
    margin-top: 5px;
}

table.output,
tr.output,
td.output 
{
    width: 500px;
    background-color: #FFF0F5;
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color: #003300;
}

td.outputdata 
{
    width: 500px;
    background-color: #FFF0F5;
    padding: 10px;
    border-spacing: 2px;
}

/* alert box styling */
#alert-box {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:transparent;
}

#alert-content {
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    margin: auto;
    margin-top: 20%;
    padding: 30px;
    text-align: center;
}

#alert-content h4 {
   margin-top: 20%;
   font-family: "Optima", sans-serif;
   font-size: 20px;
   text-align: center;
   font-weight: normal;
}

#close-alert {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    color: black;
    border-color: white;
    font-size: 15px;
    font-weight: bold;
    height: 20px;
    width: 80px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    font-family: "Optima", sans-serif;
}




